name: Build and Push Backend Image

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push backend image
        uses: docker/build-push-action@v5
        with:
          # ВАЖНО: контекст сборки — папка, где лежит manage.py и Dockerfile
          context: ./backend
          push: true
          # Приводим к нижнему регистру и даем явное имя
          tags: |
            ghcr.io/${{ github.repository_owner }}/pizza-shop-backend:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Deploy to Server via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /var/www/polkanoval-project

            # Используйте GHCR_TOKEN (Personal Access Token), созданный в GitHub Settings
            echo "${{ secrets.GHCR_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

            # Обновляем только бекенд
            docker compose pull backend
            docker compose up -d backend

            # Удаляем старые слои, чтобы диск 81.200.152.195 не переполнился
            docker image prune -f