name: Build and Push Docker Image

on:
  push:
    branches:
      - main # Запускать при пуше в ветку main

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push backend image
        uses: docker/build-push-action@v5
        with:
          context: ./backend # Путь к Dockerfile бэкенда
          push: true
          tags: ghcr.io/${{ github.repository }}/pizza-shop-backend:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max